<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title>pyTivo</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" type="text/css" href="/main.css">
</head>
<body>
    <p id="titlep"><span id="title">pyTivo</span></p>
    <div id="main">
    <div class="button">
    $admin
    </div>
    <div class="button">
    $togo
    </div>
    <div class="button">
    $shares
    </div>
    </div>
</body>
</html>
