<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title>pyTivo - Push</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" type="text/css" href="/main.css">
</head>
<body>
#set $folders = $name.split('/')
<form action="/TiVoConnect" method="POST">
<script language="JavaScript">
<!--
function toggle(source) {
	var checkboxes = document.getElementsByName('File');
	for (var i = 0; i < checkboxes.length; i++) {
		if (typeof(checkboxes[i].checked) != "undefined") {
			checkboxes[i].checked = source.checked;
			}
	}
}
-->
</script>
<p id="titlep"><span id="title">
<a href="/">pyTivo</a> /
#if len($folders) > 1
<a href="/TiVoConnect?Command=QueryContainer&amp;Container=$quote($folders[0])&amp;Format=text/html">
#end if
Push from $folders[0]
#if len($folders) > 1
</a>
  #if len($folders) > 2
    #for $pos, $n in enumerate($folders[1:-1])
      #set $ppath = '/'.join($folders[:$pos + 2])
/ <a href="/TiVoConnect?Command=QueryContainer&amp;Container=$quote($ppath)&amp;Format=text/html">$n</a>
    #end for
  #end if
/ $folders[-1]
#end if
</span></p>
<table id="main">
  ## Header Row
	<tr class="header">
        #set $arrowicon = 'updownarrow'
        #set sortorder = 'Normal'
        #if $sortby == '!normal'
            #set $arrowicon = 'downarrow'
        #end if
        #if $sortby == 'normal'
            #set sortorder = '!Normal'
            #set $arrowicon = 'uparrow'
        #end if
        <td class="$arrowicon" onclick="document.location.href = '/TiVoConnect?Command=QueryContainer&amp;Container=$quote($name)&amp;SortOrder=$quote($sortorder)&amp;Format=text/html';">
            <span class="icon" style="float:left;"><input type="checkbox" name="selectAll" onClick="toggle(this)" Title="Select All" /></span>
            <span class="prog"><a href='/TiVoConnect?Command=QueryContainer&amp;Container=$quote($name)&amp;SortOrder=$quote($sortorder)&amp;Format=text/html'>Title</a></span>
        </td>
		<td class="progsizeheader">Size</td>
        #set $arrowicon = 'updownarrow'
        #set sortorder = 'CaptureDate'
        #if $sortby == '!capturedate'
            #set $arrowicon = 'downarrow'
        #end if
        #if $sortby == 'capturedate'
            #set $sortorder = '!CaptureDate'
            #set $arrowicon = 'uparrow'
        #end if
		<td class="$arrowicon" onclick="document.location.href = '/TiVoConnect?Command=QueryContainer&amp;Container=$quote($name)&amp;SortOrder=$quote($sortorder)&amp;Format=text/html';">
            <a href='/TiVoConnect?Command=QueryContainer&amp;Container=$quote($name)&amp;SortOrder=$quote($sortorder)&amp;Format=text/html'>Capture Date</a>
        </td>
	</tr>
  #set $i = 0
  ## i variable is used to alternate colors of row
  ## loop through passed data printing row for each show or folder
  #for $video in $videos
	  #set $i += 1
	  #set $j = $i%2
	  #if $video.is_dir
        ## This is a folder
        <tr class="row$(j) pointer" onclick="document.location.href = '/TiVoConnect?Command=QueryContainer&amp;Container=$quote($name)/$quote($video.name)&amp;Format=text/html';">
		<td class="progmain">
            <span class="icon"><img src="/folder.png" alt=""></span>
            <span><a href="/TiVoConnect?Command=QueryContainer&amp;Container=$quote($name)/$quote($video.name)&amp;Format=text/html">$video.title</a></span>
        </td>
		<td class="progsize">$video.total_items Items</td>
		<td class="progdate">$video.textDate</td>
	  #else
	    ## This is a show
        <tr class="row$(j)">
		<td class="progmain">
            <span class="icon"><input type="checkbox" name="File" value="$video.part_path"></span>
			#if $video.episodeTitle
			<span class="progtitle">$video.title: $video.episodeTitle</span><br>
			#else
			<span class="progtitle">$video.title</span><br>
			#end if
			<span class="icon"></span>
            <span class="progdesc">
            #if $video.description
			$video.description
			#end if
			#if $video.displayMajorNumber and $video.callsign
			$video.displayMajorNumber $video.callsign
			#end if
			</span>
		</td>
		<td class="progsize">$video.textSize</td>
		<td class="progdate">$video.textDate</td>
	  #end if
	  </tr>
  #end for
</table>
<p>
      <input type="hidden" name="Command" value="Push">
      <input type="hidden" name="Container" value="$name">
        <select name="tsn">
        #for $tivo in $tivos
            #if 'name' in $tivos[$tivo] and not $tivo.startswith('{')
                <option>$tivos[$tivo]['name']</option>
            #end if
        #end for
        #for $tivo in $tivos
            #if not 'name' in $tivos[$tivo] and not $tivo.startswith('{')
                <option>$tivo</option>
            #end if
        #end for
        </select>
      <input value="Send to TiVo" type="submit">
</p>
</form>
</body>
</html>
